@tailwind base;
@tailwind components;
@tailwind utilities;

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #383838;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #6b6b6b;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #515151;
}
